canvas{
    position:fixed;
}
/* #directions {
    color: white;
    position:fixed;
} */
#result {
    color: white;
}
#life {
color: white;
}
body{
    background-image: url("images/Space-PNG-Pic.gif");
    background-repeat: no-repeat;
    background-size: cover;
}